@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$gray: rgb(70, 70, 70);

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  // border: 1px solid hsl(350, 100%, 88%);
}

body {
  background: $gray;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.background {
  height: 100vh;
  width: 100vw;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  .settings-panel {
    position: absolute;
    top: 0;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    position: absolute;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: 0.3s transform ease-in-out;
    color: black;

    &.visible {
      transform: translateY(0);

      .container {
        height: 100%;
        width: 100%;
        max-width: 768px;
        position: relative;

        .fa-icon {
          font-size: 2em;
        }
      }
    }

    .difficulty {
      width: 100%;
      max-width: 768px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 4em;
      font-size: 1.5em;

      .easy {
        color: black;
        padding-bottom: 0.2em;
        border-bottom: 4px solid black;
      }

      .hard {
        color: lightgray;
      }

      h1 {
        cursor: pointer;
      }
    }

    .categories {
      height: 100%;
      width: 100%;
      max-width: 768px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1.5em;

      @media (orientation: landscape) {
        gap: 8em;
      }
    }

    .category {
      // height: 100%;
      // width: 100%;
      // position: absolute;
      // z-index: -1;
      // transform: translateY(-2em);
      // padding: 2em 1em 0;
      display: flex;
      justify-content: center;

      &-icon {
        gap: 4em;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        svg {
          height: 4em;
        }
      }
    }
  }

  .fa-icon {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .game-area {
    width: 100%;
    height: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .category-bg {
      width: 100%;
      height: 100%;
    }

    .letter {
      font-size: 60vw;
      user-select: none;
      font-weight: 700;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media (orientation: landscape) {
        font-size: 40vw;
      }
    }

    .score-board {
      width: 100%;
      max-width: 480px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3em;

      .score-counter {
        height: 2em;
        width: 2em;
        padding: 0.4em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        background-color: rgba(70, 70, 70, 0.5);
        font-size: 2em;
        font-weight: bold;
        border: 3px solid white;
        cursor: pointer;

        &.most-recent {
          color: $gray;
          font-weight: 700;
          background-color: white;
        }
      }
    }

    .button-next-turn {
      width: 100%;
      max-width: 480px;
      padding: 0.7em;
      color: $gray;
      font-weight: 700;
      background-color: white;
      font-size: 1.4em;
      border: 0;
      border-radius: 5em;
      cursor: pointer;

      &:disabled {
        opacity: 0.2;
      }
    }
  }
}
